.circle {
    stroke-dasharray: 200;
    stroke-dashoffset: 20;
    stroke-linecap: round;
    stroke:crimson;
    stroke-width: 2;
    fill: none;
}

.circle2 {
    stroke-dasharray: 90;
    stroke-dashoffset: 150;
    stroke-linecap: round;
    stroke:crimson;
    stroke-width: 5;
    fill: none;
}